
* {
  box-sizing: border-box;
}
html, body {
  font-family: Arial, sans-serif;
  min-width: 900px;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  line-height: 1.4;
}

section {
  float: left;
  width: 60%;
}

.project {
  /*padding: 1em;*/
  max-width: 50%;
  margin-right: 1em;
  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.bottom {
  padding: 1em;
}

.bottom p:first-child {
  padding-bottom: 0.8em;
}

.project:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 2px 2px rgba(0,0,0,0.08);
}

.project ~ .title-link, .framework, .url, .date {
  font-size: 14px;
}

.project .description {
  font-size: 14px;
}

.framework {
  font-style: italic;
}

aside {
  float: right;
  width: 29%;
  margin: 6em 3em 3em 3em;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

aside div {
  padding-bottom: 1em;
}

.aside-content {
  padding: 0.5em 1em 0 1em;
}

.aside-content p {
  font-size: 13px;
}

.profile img {
  max-width: 100%;
}

footer {
  clear: both;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  color: rgb(26, 13, 171);
}

.container {
  position: relative;
  min-height: 100%;
}

/*/////nav/////////////////*/

.header {
  width: 100%;
  white-space: nowrap;
  background-color: #fafafa;
}

h1 {
  position: relative;
  top: 4px;
  left: 10px;
  font-family: 'Product Sans', Arial, sans-serif;
  display: inline-block;
  margin: 10px;
  font-size: 2.2em;
  font-weight: normal;
}

h2 {
  color: rgba(0,0,0,.87);
  line-height: 1.2;
  margin: 0px 0 -17px 0;
  overflow: hidden;
  font-family: arial,sans-serif-light,sans-serif;
  font-size: 30px;
  font-weight: normal;
}

h4 {
  font-weight: 500;
}

#title {
  margin-left: 4px;
  font-size: 14px;
}

hr.style {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.bold {
  font-weight: bold;
  font-size: 13px;
}

.aside-link {
  color: rgb(26, 13, 171);

}

.aside-link:hover {
  text-decoration: underline;

}

ul.aside-link {
  font-size: 13px;
  padding-left: 2em;
}

a#date {
  text-decoration: none;
}

/* ///////// logo //////////*/

#c, #l {
  color: rgb(66, 133, 244);
}

#o {
  color: rgb(251, 188, 5);
}

#oo, #e {
  color: rgb(239, 77, 64);
}

#g {
  color:rgb(66, 175, 97);
}

/*///// search box ////////*/

.search-box {
  position: relative;
  display: inline-block;
  width: 557px;
}

.search {
  font-size: 1em;
  min-width: 536px;
  height: 44px;
  position: relative;
  margin: 19px;
  display: inline-block;
  padding: 0.8em;
  font-family: Arial;
  outline: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  border: none;
}

.search-box:after {
  color: rgb(66, 133, 244);
  content: "\f002";
  font-family: FontAwesome;
  position: absolute;
  top: 30px;
  right: 9px;
  padding-right: 0.5em;
}

.search:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 2px 2px rgba(0,0,0,0.08);
}

::-webkit-input-placeholder {
    color: black;
}

:-moz-placeholder {
   color: black;
}

::-moz-placeholder {
  color: black;
}

:-ms-input-placeholder {
   color: black;
}


.top-links-right
{
    float: right;

    margin-right: 20px;
}

.icon {
  position: relative;
  top: 28px;
  right: 45px;
  display: inline;
  float: right;
  height: 15px;
}

.sign-in {
  font-family: Arial, sans-serif;
  font-size: .8em;
  font-weight: bold;
  position: relative;
  top: 20px;
  right: 29px;
  float: right;
  padding: 6px 13px;
  margin-left: 0.5em;
  color: white;
  border: 1px solid #3083ff;
  border-radius: 3px;
  background-color: rgb(68, 134, 248);
}

.sign-in:hover {
  color: white;
}


#did {
  color: rgb(221, 75, 57);
}

.christle {
  font-style: italic;
  color: rgb(26, 13, 171);
  font-weight: bold;
}


/* ///////// NAV ///////////////*/

.main-nav {
  width: 100%;
  border-bottom: 1px solid #eee;
  background-color: #fafafa;
  padding-bottom: 1em;
}

.main-nav ul {
  margin: 0 auto;
}

.main-nav li {
  font-size: .8em;
  list-style: none;
  position: relative;
  margin: 125px;
  background-color: #fafafa;
  display: inline;
  font-size: 14px;
  border-bottom: 3px solid rgb(66, 133, 244);
  padding: 1.2em;
}

.all {
  font-weight: bold;
  color: rgb(66, 133, 244);
}

h5 {
  font-size: .8em;
  font-weight: 100;
  margin-left: 182px;
  color: gray;
}


/* /////// content ////////*/

.date {
  color: rgb(128, 128, 128);
}

.content {
  margin-top: 24px;
  margin-left: 182px;
}

.experience {
  margin-bottom: 30px;
}

.title-link {
  font-family: Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 100;
  color: rgb(26, 13, 171);
}

.title-link:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  white-space: normal;
}

.url {
  font-size: .9em;
  margin: 0;
  color: rgb(0, 102, 33);
}

.detail {
  font-size: 0.8em;
  color: rgb(84, 84, 84);
}

h3 {
  font-weight: normal;
}

sup {
  font-size: 0.6em;
  font-weight: bold;
}

#bottom-logo {
  margin: 0 auto;
  padding-bottom: 0;
  text-align: center;
}

.numbers {
  margin: 0 auto 25px auto;
  text-align: center;
}

.numbers li {
  display: inline;
  list-style: none;
  font-size: 12px;
}

/* //////// footer /////////*/

.footer {
  width: 100%;
  padding-left: 10px;
  border: 1px solid #ddd;
  background-color: #efefef;
}

.footer p {
  font-size: .83em;
  margin-left: 145px;
  padding-top: 20px;
  white-space: nowrap;
  color: #aaa;
}

.footer p a {
  color: #777;
}

.footer p a:hover {
  color: black;
}

/* //////// bottom-nav ////////*/

.bottom-nav {
  margin-left: 91px;
}

.bottom-nav li {
  font-size: .8em;
  margin: 15px;
  display: inline;
  list-style: none;
}

.bottom-nav li a {
  color: #777;
}

.bottom-nav li a:hover {
  color: black;
}
