* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  line-height: 1.4;
}
section {
  float: left;
  width: 60%;
}
.project {
  width: 50%;
  margin-right: 1em;
  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  vertical-align: top;
}
.bottom {
  padding: 1em;
}
.bottom p:first-child {
  padding-bottom: 0.8em;
}
.project:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 2px rgba(0, 0, 0, 0.08);
}
.project ~ .title-link,
.framework,
.url,
.date {
  font-size: 14px;
}
.project .description {
  font-size: 14px;
}
.framework {
  font-style: italic;
}
.aside-wrapper {
  float: right;
  padding: 2em;
  width: 33%;
}
aside {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
aside div {
  padding-bottom: 1em;
}
.aside-content {
  padding: 0.5em 1em 0;
}
.aside-content p {
  font-size: 13px;
}
.profile img {
  max-width: 100%;
}
.card-img {
  height: 100%;
}
footer {
  clear: both;
}
a {
  text-decoration: none;
  color: #444;
}
a:hover {
  color: #1a0dab;
}
.header {
  width: 100%;
  background-color: #fafafa;
}
.header h1 {
  position: relative;
  top: 4px;
  left: 10px;
  font-family: "Product Sans", Arial, sans-serif;
  display: inline-block;
  margin: 10px;
  font-size: 2.2em;
  font-weight: 400;
}
h2 {
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.2;
  margin: 0 0 -17px;
  overflow: hidden;
  font-family: arial, sans-serif-light, sans-serif;
  font-size: 30px;
  font-weight: 400;
}
h4 {
  font-weight: 500;
}
#title {
  margin-left: 4px;
  font-size: 14px;
  color: gray;
  font-weight: 400;
}
hr.style {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.bold {
  font-weight: 700;
  font-size: 13px;
}
.aside-link {
  color: #1a0dab;
}
.aside-link:hover {
  text-decoration: underline;
}
ul.aside-link {
  font-size: 13px;
  padding-left: 2em;
}
a#date {
  text-decoration: none;
}
#c,
#l {
  color: #4285f4;
}
#o {
  color: #fbbc05;
}
#oo,
#e {
  color: #ef4d40;
}
#g {
  color: #42af61;
}
.search-box {
  position: relative;
  display: inline-block;
  width: 480px;
}
.search {
  font-size: 1em;
  width: 100%;
  height: 44px;
  position: relative;
  margin: 20px;
  display: inline-block;
  padding: 0.8em;
  font-family: Arial;
  outline: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
.search-box:after {
  color: #4285f4;
  content: "\f002";
  font-family: FontAwesome;
  position: absolute;
  top: 30px;
  right: -12px;
  padding-right: 0.5em;
}
.search:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 2px rgba(0, 0, 0, 0.08);
}
::-webkit-input-placeholder {
  color: #000;
}
:-moz-placeholder {
  color: #000;
}
::-moz-placeholder {
  color: #000;
}
:-ms-input-placeholder {
  color: #000;
}
.icon {
  position: relative;
  top: 28px;
  right: 45px;
  display: inline;
  float: right;
  height: 15px;
}
.sign-in {
  font-family: Arial, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  position: relative;
  top: 20px;
  right: 29px;
  float: right;
  padding: 6px 13px;
  margin-left: 0.5em;
  color: #fff;
  border: 1px solid #3083ff;
  border-radius: 3px;
  background-color: #4486f8;
}
.sign-in:hover {
  color: #fff;
}
#did {
  color: #dd4b39;
}
.christle {
  font-style: italic;
  color: #1a0dab;
  font-weight: 700;
}
.main-nav {
  width: 100%;
  border-bottom: 1px solid #eee;
  background-color: #fafafa;
  padding-bottom: 1em;
}
.main-nav ul {
  margin: 0 auto;
}
.main-nav li {
  font-size: 0.8em;
  list-style: none;
  position: relative;
  margin: 125px;
  background-color: #fafafa;
  display: inline;
  font-size: 14px;
  border-bottom: 3px solid #4285f4;
  padding: 1.2em;
}
.all {
  font-weight: 700;
  color: #4285f4;
}
.date {
  color: gray;
}
.content {
  margin-top: 24px;
  margin-left: 182px;
}
.content h5 {
  font-size: 0.8em;
  font-weight: 100;
  color: gray;
}
.experience {
  margin-bottom: 30px;
}
.title-link {
  font-family: Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 100;
  color: #1a0dab;
}
.title-link:hover {
  text-decoration: underline;
}
p {
  margin: 0;
  white-space: normal;
}
.url {
  font-size: 0.9em;
  margin: 0;
  color: #006621;
}
.detail {
  font-size: 0.8em;
  color: #545454;
}
h3 {
  font-weight: 400;
}
sup {
  font-size: 0.6em;
  font-weight: 700;
}
#bottom-logo {
  margin: 0 auto;
  text-align: center;
}
#bottom-logo h1 {
  position: relative;
  font-family: "Product Sans", Arial, sans-serif;
  display: inline-block;
  margin: 10px;
  font-size: 2.2em;
  font-weight: 400;
}
.bottom {
  padding-top: 0;
}
.footer {
  width: 100%;
  padding-left: 10px;
  border: 1px solid #ddd;
  background-color: #efefef;
}
.footer p {
  font-size: 0.83em;
  margin-left: 145px;
  padding-top: 20px;
  white-space: nowrap;
  color: #aaa;
}
.footer p a {
  color: #777;
}
.footer p a:hover {
  color: #000;
}
.bottom-nav {
  margin-left: 91px;
}
.bottom-nav li {
  font-size: 0.8em;
  margin: 15px;
  display: inline;
  list-style: none;
}
.bottom-nav li a {
  color: #777;
}
.bottom-nav li a:hover {
  color: #000;
}
.logo-container {
  width: 100%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
.skills {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-top: 0;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.skills-list {
  width: 25%;
}
.skills-list img {
  max-height: 1.5em;
  margin: 1em 0 0;
  width: 100%;
}
.skills-list span {
  display: block;
  text-align: center;
  font-size: 0.8em;
}
.code a {
  color: #ea4335;
}
.code a:hover {
  color: #fbbc05;
}
.contact {
  line-height: 1.8em;
}
@media screen and (max-width: 900px) {
  .header {
    margin: 0;
    text-align: center;
  }
  .sign-in,
  .nine-icon {
    display: none;
  }
  .search-box {
    display: block;
    margin: 0 auto;
    width: 410px;
  }
  .search-box:after {
    display: none;
  }
  .search {
    font-size: 90%;
    margin: 0 0 20px;
    width: 100%;
  }
  .main-nav li {
    margin: 0;
  }
  .aside-wrapper {
    width: 100%;
    padding: 1em 6em;
    margin: 0 auto;
  }
  aside {
    display: block;
    width: 100%;
  }
  .profile img {
    max-width: 100%;
  }
  section {
    width: 100%;
  }
  .project {
    display: block;
    width: 100%;
  }
  .content {
    width: 100%;
    padding: 1em 6em;
    margin: 0 auto;
  }
  .previous {
    padding-top: 0;
  }
  .experience a {
    font-size: 15px;
  }
  .suggestions {
    padding-top: 0;
    margin: 0 auto;
    font-size: 15px;
  }
  .suggestions h4 {
    margin: 1px;
  }
  .footer {
    display: none;
  }
  .footer2 {
    width: 100%;
    border: 1px solid #ddd;
    background-color: #efefef;
    height: 50px;
  }
}
@media screen and (max-width: 478px) {
  .aside-wrapper {
    padding: 1em 2em;
  }
  .content {
    padding: 1em 2em;
  }
  .search-box {
    width: 295px;
  }
  .search {
    width: 100%;
  }
  #employ {
    font-size: 15px;
  }
}
